html
  head
    link(href='https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script" rel="stylesheet')
    link( rel='stylesheet" type="text/css" href="public/app.css')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
  body
    section#main-container
    footer.site-footer
      .container
        .row
          .col.s12.l3.center-align
            a.dropdown-trigger.btn.btn-flat(href='#', data-target='dropdown1') Idioma
            ul#dropdown1.dropdown-content
              li
                a(href='#!') Español
              li
                a(href='#!') Inglés
          .col.s12.l3.push-l6.center-align
            | 2019 ©
  script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
  script(type='text/javascript', src='js/materialize.min.js')

